body {
    margin: 0;
    height: 100vh;
}

#app {
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 10% auto 10%;
    grid-template-areas: 
        "header header"
        "sidenav content"
        "sidenav footer";
}

.header, .content, .sidenav, .footer {
    border: 1px solid palevioletred;
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

.sidenav {
    grid-area: sidenav;
}